---

---

<div class="mt-2">
  <style>
    .nowrap p {
      white-space: normal;
    }
  </style>
  <div class="prose prose-neutral dark:prose-invert min-w-0 max-w-none nowrap mb-2">
    在本站发言，即意味着你同意<a href="/commentPolicy">评论政策</a>。
  </div>
  <div id="comment-container">
    {
    }
  </div>

  <script>
    import { init } from 'sodesu-comment';
    init({
      el: '#comment-container',
      serverURL: 'https://waline-sodesu.314926.xyz/',
      dark: 'html.dark',
      pageview: !import.meta.env.DEV,
      commentClassName: 'prose prose-neutral dark:prose-invert min-w-0 max-w-none',
    });
  </script>
</div>
